<section class="vh-100" style="background-color: #f5f6f7;">
    <div class="container py-5 h-100" style="width:100%">
      <div class="row  justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
  
          <div class="card bg-dark text-white" style="border-radius: 40px;">
            <div class="bg-image" style="border-radius: 35px;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp"
                class="card-img" alt="weather" />
              <div class="mask" style="background-color: rgba(190, 216, 232, .5);"></div>
            </div>
            <div class="card-img-overlay text-dark p-5">
              <h4 class="mb-0">Juneau, Alaska, US</h4>
              <p class="display-2 my-3">1.28°C</p>
              <p class="mb-2">Feels Like: <strong>-1.08 °C</strong></p>
              <h5>Snowy</h5>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>